<li id="design-<%= design.id %>">
  <span class="email"><%= design.email %></span>
  <span class="firstName"><%= design.firstName %></span>
  <span class="lastName"><%= design.lastName %></span>
  <span class="state"><%= design.state %></span>

</li>