<%= form_for(@design, remote: true, html: { multipart: true }) do |f| %>
  <% if @design.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@design.errors.count, "error") %> prohibited this proyect from being saved:</h2>

      <ul>
      <% @design.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    Hola Mundo
    <%= f.email_field  :email, placeholder: "email..." %>
    <%= f.text_field :firstName, placeholder: "First Name" %>
    <%= f.text_field :lastName, placeholder: "Last Name" %>
    <%= f.number_field :offer, placeholder: "Offer" , in: 0.0..10000000000, step: 10%>
    <%= f.hidden_field :proyect, :value => @proyect.id %>
  </div>
  <span class="picture">
    <%= f.file_field :pictureOriginal, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#design_pictureOriginal').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>