<% provide(:title, @proyect.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="col-md-4">
    <section class="proyect_info">
      <%= render 'shared/proyect_info' %>
    </section>
      <% if !(current_user?(@proyect.user)) %>
        <div id="new_design_form">
          <%= render 'designs/new'%>
        </div>
      <% end %>

  </aside>
<div class="col-md-8">
  <% if @proyect.designs.any? %>
    <h3>Designs (<%= @proyect.designs.count %>)</h3>
    <ol class="designs">
      <%= render @designs %>
    </ol>
    <%= will_paginate @designs %>
  <% end %>
</div>
</div>
<div class="row">
<% if current_user?(@proyect.user) %>
<%= link_to 'Edit', edit_proyect_path(@proyect) %> |
    <% end %>
<%= link_to 'Back', "../"+@proyect.user.webPage %>
</div>