<% provide(:title, @proyect.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="col-md-4">
    <section class="proyect_info">
      <%= render 'shared/proyect_info' %>
    </section>
      <% if !(current_user?(@proyect.user_id)) %>
        <div id="new_design_form">
          <%= render 'designs/new'%>
        </div>
      <% end %>

  </aside>
<div class="col-md-8">
  <% if @proyect.feed.any? %>
  find
    <h3>Designs (<%= @proyect.feed.count %>)</h3>
    <ol class="designs">
      <%= render @designs %>
    </ol>
  <% end %>
</div>
</div>
<div class="row">
<% if current_user?(@proyect.user_id) %>
<%= link_to 'Edit', "../"+@proyect.url+"/edit" %> |
    <% end %>
<%= link_to 'Back', "/"+@proyect.user_id %>
</div>